body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('sunset.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.button1{
    position: absolute;
    font-size: 20px;
    top: 350px; left: 225px;
    width: 285px;
    background-color: rgba(255, 255, 255, 0.281);
    color: #ffffff;
    border: none;
    border-radius: 2;
    padding: 7.5px 10px;
    cursor:pointer;
}

#output {
    position: absolute;
    font-size: 20px;
    top: 400px; left: 600px;
    width: 300px;
    background: transparent;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

.button2{
    position: absolute;
    font-size: 20px;
    top: 350px; left: 525px;
    width: 285px;
    background-color: rgba(255, 255, 255, 0.281);
    color: #ffffff;
    border: none;
    border-radius: 2;
    padding: 7.5px 10px;
    cursor:pointer;
}

.button3{
    position: absolute;
    font-size: 20px;
    top: 350px; left: 825px;
    width: 285px;
    background-color: rgba(255, 255, 255, 0.281);
    color: #ffffff;
    border: none;
    border-radius: 2;
    padding: 7.5px 10px;
    cursor:pointer;
}

.col{
    position: absolute;
    font-size: 20px;
    top: 0px; left: 525px;
    width: 400px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 2;
    padding: 7.5px 10px;
}

